@font-face {
    font-family: 'pixel';
    src: url('../assets/fonts/Pixel.ttf') format('truetype');
}

@font-face {
    font-family: 'PressStart2P';
    src: url('../assets/fonts/PressStart2P.ttf') format('truetype');
}

@keyframes rainbow {
    0% { color: red; }
    14% { color: orange; }
    28% { color: yellow; }
    42% { color: green; }
    57% { color: cyan; }
    71% { color: blue; }
    85% { color: purple; }
    100% { color: red; }
}

body {
    display:grid;
    place-items: center;
    align-items:center;
    align-content:center;
    height: 100vh;
    background: black;
    overflow:hidden;
}

button {
    font-size:15px;
    font-family:'pixel';
    color:#fff;
    background: none;
    border: none;
}

#difficultySelector,
#difficultySelector button, 
#startGame,
#startGame button, 
#gameOver, 
#difficultyInfo, 
#regenerateMap, 
#gameWin h1, 
#gameWin h2, 
#restart, 
#return  {
    font-family: 'pixel';
    color: #fff;
    text-align: center;
}

#difficultySelector button, 
#gameOver h2, 
#startGame h2:not(#return), 
#difficultyInfo, 
#regenerateMap, 
#gameWin h2, 
#restart, 
#return {
    font-size: 15px;
}

#difficultySelector button, 
#gameOver h2, 
#startGame button, 
#regenerateMap, 
#restart, 
#return,
#nextMap,
#retry {
    cursor: pointer;
}

#startGame h2, 
#difficultySelector, 
#startGame, 
#gameOver, 
#difficultyInfo, 
#gameWin h2.finalTime, 
#gameWin h1,
#regenerateMap,
#restart {
    user-select: none;
}

#difficultySelector button.easy:hover, 
#startGame.easy button:hover, 
#return.easy:hover, 
#gameOver h2.easy:hover, 
#selectedDifficulty.easy, 
#difficultyInfo.easy, 
#restart.easy:hover, 
#retry.easy:hover, 
#regenerateMap.easy:hover,
#nextMap.easy:hover  {
    color: green;
}

#difficultySelector button.normal:hover, 
#startGame.normal button:hover, 
#return.normal:hover, 
#gameOver h2.normal:hover, 
#selectedDifficulty.normal, 
#difficultyInfo.normal, 
#restart.normal:hover, 
#retry.normal:hover, 
#regenerateMap.normal:hover,
#nextMap.normal:hover {
    color: yellow;
}

#difficultySelector button.hard:hover, 
#startGame.hard button:hover, 
#return.hard:hover, 
#gameOver h2.hard:hover, 
#selectedDifficulty.hard, 
#difficultyInfo.hard, 
#restart.hard:hover, 
#retry.hard:hover, 
#regenerateMap.hard:hover,
#nextMap.hard:hover {
    color: red;
}

#difficultySelector button {
    font-size:20px;
}

#restart, 
#regenerateMap,
#nextMap,
.saveAndRestart {
    display: flex;
    justify-self: center;
    margin: 10px;
}

#startGame button:first-child {
    font-size:30px !important;
}

#startGame button:not(#return) {
    display: flex;
    font-size: 20px;
    justify-self: center;
    margin: 10px;
}

#gameWin h1{
    font-size: 30px;
    animation: rainbow 1s linear infinite;
}

.slashed {
    text-decoration: line-through;
    text-decoration-thickness: 5px;
    text-decoration-color: black;
    user-select: none;
    color: grey !important;
}

.slashed:hover {
    color:grey !important;
    cursor: not-allowed !important;
}

.hidden {
    display: none !important;
}

/* Online */

#menuContainer {
    width:512px;
}

#leaderboardTable {
    width:100%;
}

#returnToStart {
    display: flex;
    justify-self: center;
    margin: 10px;
}

#returnToStart,
#leaderboard h2,
#leaderboardTable {
    font-family: 'pixel';
    color: #fff;
    text-align: center;
}

#returnToStart,
#leaderboard h2 {
    font-size: 15px;
}

#returnToStart,
.saveAndRestart {
    cursor: pointer;
}

#returnToStart,
#leaderboard h2,
#leaderboardTable {
    user-select: none;
}

#returnToStart.easy:hover,
#leaderboard h2.easy,
.saveAndRestart.easy:hover,
.close-btn.easy:hover,
.save-btn.easy:hover {
    color: green !important;
}

#returnToStart.normal:hover,
#leaderboard h2.normal,
.saveAndRestart.normal:hover,
.close-btn.normal:hover,
.save-btn.normal:hover {
    color: yellow !important;
}

#returnToStart.hard:hover,
#leaderboard h2.hard,
.saveAndRestart.hard:hover,
.close-btn.hard:hover,
.save-btn.hard:hover {
    color: red !important;
}

#saveGameContainer {
  font-family: 'pixel';
  display:flex;
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  user-select: none;
}

.saveGameContent {
  color:#fff;
  position: relative;
  background: #000;
  padding: 1rem;
  min-width: 220px;
  text-align: center;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius:2px;
  border: 2px solid #fff;
}

.saveGameContent label {
  user-select: none;
}

.close-btn {
  color: #fff;
  position: absolute;
  top: 2px;
  right: 2px;
  border: none;
  background: none;
  font-size: 30px;
  cursor: pointer;
  user-select: none;
}

.save-btn {
  font-family: 'pixel';
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  background: none;
  border: none;
  user-select: none;
}

#nameInput {
  font-family: 'PressStart2P', monospace;
  color: #fff;
  display: inline-block;
  margin: 1.2rem auto;
  border: none;
  padding: 0;
  width: 10.5ch;
  background: repeating-linear-gradient(90deg, #fff 0, #fff 1ch, transparent 0, transparent 1.5ch) 0 100%/ 10ch 2px no-repeat;
  letter-spacing: 0.5ch;
  user-select: all;
}

#nameInput::selection {
    color:#000;
    background-color:#fff;
}

#nameInput:focus {
  font-family: 'PressStart2P', monospace;
  outline: none;
  color: #fff;
}